<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">

      <p style="margin-bottom: 0rem;">
        <a href="/">
          <img alt="me" src="/images/me.jpg" title="Edwin Jones &middot; Author" />
        </a>
      </p>

      <a href="/">
        <h1>Edwin Jones</h1>
      </a>

      <p class="lead">
        Rants of yet another random person on the internet.
      </p>

    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">About</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/rants">Rants</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/games">Games</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/experiments">Experiments</a>
      <br/>
      <a class="icon" href="{{ site.baseurl }}/feed.xml">
        <i class="svg-icon rss"></i>
      </a>
      <a class="icon" href="https://github.com/edwin-jones">
        <i class="svg-icon github"></i>
      </a>
      <a class="icon" href="https://stackoverflow.com/users/5247858">
        <i class="svg-icon stackoverflow"></i>
      </a>
      <a class="icon" href="https://www.linkedin.com/in/edwin-jones/">
        <i class="svg-icon linkedin"></i>
      </a>
      <a class="icon" href="https://twitter.com/edwinjonesuk">
        <i class="svg-icon twitter"></i>
      </a>  
    </nav>

  </div>
</div>
