<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">

      <p style="margin-bottom: 0rem;">
        <a href="/">
          <img alt="me" src="/images/me.jpg" title="Edwin Jones &middot; Author" />
        </a>
      </p>

      <a href="/">
        <h1>Edwin Jones</h1>
      </a>

      <p class="lead">
        Rants of a random person who happens to be a .NET Developer.
      </p>

    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">About</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/rants">Rants</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/games">Games</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/experiments">Experiments</a>

      <br/>
      <a href="https://github.com/EdwinJ85">
        <i class="svg-icon github"></i>
      </a>
      <a href="https://stackoverflow.com/users/5247858/edwinj85">
        <i class="svg-icon stackoverflow"></i>
      </a>
      <a href="https://www.linkedin.com/in/EdwinJ85/">
        <i class="svg-icon linkedin"></i>
      </a>
      <a href="https://github.com/EdwinJ85">
        <i class="svg-icon twitter"></i>
      </a>
    </nav>

  </div>
</div>