<div class="sidebar">
    <div class="container sidebar-sticky">
      <div class="sidebar-about">
        
        <p>
          <a href="/">
            <img src="/public/images/me.jpg" title="Edwin Jones &middot; Author" />
          </a>
        </p>
        
        <a href="/">
          <h1>Edwin Jones</h1>
        </a>
        
        <p class="lead">
          Rants of a random person who happens to be a .NET Developer.
        </p>
      
      </div>
  
      <nav class="sidebar-nav">
        <a class="sidebar-nav-item" href="/">Blogs</a>
        <a class="sidebar-nav-item" href="{{ site.baseurl }}/about">About</a>
        <a class="sidebar-nav-item" href="https://github.com/EdwinJ85">GitHub</a>
        <a class="sidebar-nav-item" href="https://www.linkedin.com/in/EdwinJ85/">LinkedIn</a>
        <a class="sidebar-nav-item" href="https://stackoverflow.com/users/2525626/EdwinJ85">Stack Overflow</a>
      </nav>
  
    </div>
  </div>
  
